.navbar-menu{
    font-family: 'oswald',Arial, Helvetica, sans-serif
}

#cadastro{
    font-family: 'oswald',Arial, Helvetica, sans-serif;
text-align:center;
font-size: larger;
}

#t1{
    text-align: center;
    font-family:'oswald',Arial, Helvetica, sans-serif; 
    font-size: xx-large;}

    #LOGIN{
        font-family: 'oswald',Arial, Helvetica, sans-serif;
    text-align:center;
    font-size: larger;
    }

    