#cadastro{
    font-family: 'oswald',Arial, Helvetica, sans-serif;
text-align:center;
font-size: larger;
}

.navbar-menu{
    font-family: 'oswald',Arial, Helvetica, sans-serif
}

#T3{
    font-family: 'oswald',Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: xx-large;
}

#p2{
    font-family: 'oswald',Arial, Helvetica, sans-serif;
    text-align: center;
}